.page2 {
  .navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 70px;
    align-items: center;
    .fa-solid {
      padding-left: 10px;
    }
    h3 {
      margin-left: 60px;
    }
    .navbar-right {
      padding-right: 10px;
      .fa-solid {
      }
      .fa-regular {
        padding-left: 16px;
      }
    }
  }
}
.luxury {
  padding-left: 40px;
}
.different2 {
  padding: 60px 0 86px 0;
  h3 {
    color: #2a254b;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 50px;
  }
  .row {
    .col-3 {
      padding: 40px 20px;
      background: #f9f9f9;
      align-self: stretch;
      .fa-solid {
        margin-bottom: 16px;
      }
      .fa-regular {
        margin-bottom: 16px;
      }
      h5 {
        color: #2a254b;
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
      }
      p {
        width: 270px;
        color: #2a254b;
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
}
.ceramics2 {
  padding: 60px 80px 56px 80px;
  .row {
    .col-3 {
      img {
      }
      p {
        color: #2a254b;

        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
        padding-top: 24px;
      }
      span {
        color: #2a254b;

        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
  .btn {
    margin-left: 570px;
    padding: 16px 32px;
    background: #f9f9f9;
    color: #2a254b;
    font-size: 16px;
    line-height: 150%;
    margin-top: 35px;
  }
}
.idea {
  padding: 60px 0;
  .row {
    .col-6 {
      background-color: #2a254b;
      padding: 64px 75px 54px 64px;
      color: #fff;
      h3 {
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 200px;
      }
      .btn {
        padding: 16px 32px;
        background: rgba(249, 249, 249, 0.15);
        color: #fff;
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
}
.club {
  position: relative;
  background: url(../image/Image111.png) no-repeat center center / cover;
  padding: 270px;
  .input {
    position: absolute;
    margin-left: 190px;
    margin-top: 100px;
    input {
      border: none;
      padding: 17px 265px 17px 32px;
      align-items: center;
      background: #f9f9f9;
    }
    button {
      background: #2a254b;
      border: none;
      padding: 16px 32px;
      color: #fff;
      font-size: 16px;
      line-height: 150%;
    }
  }
}
footer {
  background: #2a254b;
  .row {
    padding: 58px 83px 48px 0;
    border-bottom: 1px solid #4e4d93;
    .col-2 {
      flex-direction: column;
      color: #fff;
      h6 {
        font-size: 16px;
        padding-bottom: 10px;
      }
      p {
        font-size: 14px;
        font-weight: 400;
      }
    }
    .col-6 {
      p {
        color: #fff;
        font-size: 16px;
      }
      input {
        border: none;
        padding: 17px 265px 17px 32px;
        align-items: center;
        background: rgba(255, 255, 255, 0.15);
      }
      button {
        border: none;
        padding: 16px 32px;
        color: #2a254b;
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
  .footer-social {
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .footer-text {
      small {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .footer-website {
      .fa-brands {
        padding-left: 24px;
        font-size: 20px;
        color: white;
      }
    }
  }
}
