header {
  .navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 70px;
    align-items: center;
    .fa-solid {
      padding-left: 10px;
    }
    h3 {
      color: #22202e;
      font-size: 24px;
      font-weight: 400;
      margin-left: 60px;
    }
    .navbar-right {
      padding-right: 10px;
      .fa-solid {
      }
      .fa-regular {
        padding-left: 16px;
      }
    }
  }
  .navbar-bottom {
    margin-top: 30px;
    .navbar-item {
      justify-content: center;
      display: flex;
      gap: 44px;
      li {
        a {
          color: #726e8d;
          font-size: 16px;
        }
      }
    }
  }
}
.shopping-cart {
  background: #f9f9f9;
  padding: 65px 190px 50px 190px;
  h1 {
    color: #2a254b;
    font-size: 36px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 48px;
  }
  .shopping-title {
    justify-content: space-between;
    .center-title {
      margin-left: 300px;
    }
    p {
      color: #2a254b;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
    }
  }
  .shopping-cart-1 {
    padding-top: 20px;
    border-top: 1px solid #ebe8f4;
    justify-content: space-between;
    margin-bottom: 20px;
    .note {
      img {
      }
      .shopping-cart-text {
        margin-top: 10px;
        p {
          color: #2a254b;
          font-size: 20px;
          font-weight: 400;
          line-height: 140%;
        }
        small {
          color: #2a254b;
          font-size: 14px;
          font-weight: 400;
          line-height: 150%;
        }
        span {
          color: #2a254b;
          font-size: 16px;
          line-height: 150%;
          margin-top: 10px;
        }
      }
    }
    .note-2 {
      width: 122px;
      padding: 12px 16px;
      span {
        padding: 0 5px;
        background: #f9f9f9;
        span {
        }
        .belgi {
          color: #ebe8f4;
          font-size: 16px;
        }
      }
    }
    .note-3 {
      p {
        color: #2a254b;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
  .shopping-cart-2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #ebe8f4;
    justify-content: space-between;
    .note {
      img {
      }
      .shopping-cart-text {
        margin-top: 10px;
        p {
          color: #2a254b;
          font-size: 20px;
          font-weight: 400;
          line-height: 140%;
        }
        small {
          color: #2a254b;
          font-size: 14px;
          font-weight: 400;
          line-height: 150%;
        }
        span {
          color: #2a254b;
          font-size: 16px;
          line-height: 150%;
          margin-top: 10px;
        }
      }
    }
    .note-2 {
      width: 122px;
      padding: 12px 16px;
      span {
        padding: 0 5px;
        background: #f9f9f9;
        span {
        }
        .belgi {
          color: #ebe8f4;
          font-size: 16px;
        }
      }
    }
    .note-3 {
      p {
        color: #2a254b;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }

  .total {
    text-align: end;
    margin-top: 31px;
    span {
      color: #4e4d93;
      text-align: right;
      font-size: 20px;
      font-weight: 400;
      line-height: 140%;
    }
    strong {
      margin-left: 15px;
      color: #2a254b;
      font-size: 24px;
      font-weight: 400;
      line-height: 140%;
    }
    p {
      color: #4e4d93;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
    }
    button {
      padding: 16px 32px;
      background: #2a254b;
      color: #fff;
      font-size: 16px;
      line-height: 150%;
    }
  }
}
footer {
  background: #2a254b;
  .row {
    padding: 58px 83px 48px 0;
    border-bottom: 1px solid #4e4d93;
    .col-2 {
      flex-direction: column;
      color: #fff;
      h6 {
        font-size: 16px;
        padding-bottom: 10px;
      }
      p {
        font-size: 14px;
        font-weight: 400;
      }
    }
    .col-6 {
      p {
        color: #fff;
        font-size: 16px;
      }
      input {
        border: none;
        padding: 17px 265px 17px 32px;
        align-items: center;
        background: rgba(255, 255, 255, 0.15);
      }
      button {
        border: none;
        padding: 16px 32px;
        color: #2a254b;
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
  .footer-social {
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .footer-text {
      small {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .footer-website {
      .fa-brands {
        padding-left: 24px;
        font-size: 20px;
        color: white;
      }
    }
  }
}
