header {
  .navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 70px;
    align-items: center;
    .fa-solid {
      padding-left: 10px;
    }
    h3 {
      color: #22202e;
      font-size: 24px;
      font-weight: 400;
      margin-left: 60px;
    }
    .navbar-right {
      padding-right: 10px;
      .fa-solid {
      }
      .fa-regular {
        padding-left: 16px;
      }
    }
  }
  .navbar-bottom {
    margin-top: 30px;
    .navbar-item {
      justify-content: center;
      display: flex;
      gap: 44px;
      li {
        a {
          color: #726e8d;
          font-size: 16px;
        }
      }
    }
  }
}
.products {
  img {
    width: 1550px;
  }
}
.tabel {
  justify-content: space-between;
  display: flex;
  height: 100px;
  align-items: center;
  .left {
    .left-item {
      gap: 60px;
      display: flex;
      li {
        a {
          color: #2a254b;
          font-size: 16px;
          line-height: 150%;
        }
      }
    }
  }
  .right {
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    small {
      color: #2a254b;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
    }
    li {
      a {
        color: #2a254b;
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
}
.ceramics7 {
  padding: 10px 80px 56px 80px;
  h2 {
    color: #2a254b;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 33px;
  }
  .row {
    margin-bottom: 30px;
    .col-3 {
      img {
      }
      p {
        color: #2a254b;
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
        padding-top: 24px;
      }
      span {
        color: #2a254b;

        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
  .btn {
    margin-left: 570px;
    padding: 16px 32px;
    background: #f9f9f9;
    color: #2a254b;
    font-size: 16px;
    line-height: 150%;
    margin-top: 35px;
  }
}
